<!-- views/partials/parkingComponent.ejs -->
<style>
    /* Put any common CSS properties in parking.ejs, only dynamic ones here */

    #<%=spotId %>progressBarId {
        stroke: <%=spotData["percentColor"] %>;
    }

    #<%=spotId %>spotIconId {
        background-color: <%=spotData["color"] %>;
        color: <%=spotData["textColor"] %>;
    }
</style>
<div class="column">
    <br>
    <div class="progressdiv" data-percent=<%= spotData["percent"] %> data-text=<%= spotData["percentText"] %>>
        <svg class="progress" xmlns="http://www.w3.org/2000/svg">
            <circle></circle>
            <circle class="bar" id=<%= spotId+"progressBarId" %>></circle>
        </svg></div>
    <center><span class="spotIdCommonClass" id=<%= spotId+"spotIconId" %>>
            <p id="inner_text" style="color:<%=spotId["textColor"]%>"><%= spotData["text"] %></p>
        </span></center>
</div>