<!-- views/parking.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link href="parking.css" rel="stylesheet" type="text/css" /> -->
    <title>Parking Card</title>
    <style>
        :root {
            --PI: 3.1415926535;
            --r: 10vw;
        }

        #lot_name {
            line-height: 0.5;
        }

        #lot_context {
            opacity: 0.5;
            line-height: 0.5;
        }

        #total_spots {
            line-height: 0.5;
        }

        #is_historic {
            line-height: 0.1;
        }

        .row {
            width: 100%;
        }

        .column {
            border-color: black;
            float: left;
            width: calc(100% / <%=numSpotsSelected %>);
        }

        /* Clear floats after the columns */
        .row:after {
            content: "";
            display: table;
            clear: both;
        }

        .progress {
            display: block;
            margin: 0 auto;
            overflow: visible;
            transform: rotate(-90deg) rotateX(180deg);
            width: calc(2 * var(--r));
            height: calc(2 * var(--r));
        }

        .progress circle {
            fill: transparent;
            stroke-dashoffset: 0;
            /* Circumference in dash-array*/
            stroke-dasharray: calc(2 * var(--PI) * var(--r));
            transition: stroke-dashoffset 2s ease;
            stroke-width: 2vw;
            r: var(--r);
            cx: var(--r);
            cy: var(--r);

        }

        .progress .bar {
            stroke: rgb(235, 235, 235);
        }

        .progressdiv {
            position: relative;
        }

        .progressdiv:after {
            position: absolute;
            top: 50%;
            left: 50%;
            font-size: 6vw;
            transform: translate(-50%, -50%);
            content: attr(data-text);

        }

        .svgbox {
            height: 0;
            width: 100%;
            padding-top: (svg height / svg width) * width-value;
            position: relative;
        }

        .spotIdCommonClass {
            height: var(--r);
            width: var(--r);
            border-radius: 50%;
            display: inline-block;
            margin-top: 4vw;
        }

        #inner_text {
            line-height: 2vw;
            font-size: 4vw;
        }
    </style>
    <script>
        // Adds color and stroke to radial progress circle
        (function () {
            window.onload = function () {
                var totalProgress, progress;
                const circles = document.querySelectorAll('.progress');
                for (var i = 0; i < circles.length; i++) {
                    var style = getComputedStyle(circles[i].querySelector('circle'));
                    //Gets circumference of each circle
                    totalProgress = parseInt(style.getPropertyValue('stroke-dasharray'));
                    progress = parseInt(circles[i].parentElement.getAttribute('data-percent'));

                    if (progress == 'NA') {
                        //If NA means no spots of this type
                        circles[i].querySelector('.bar').style['stroke-dashoffset'] = 0;
                    } else {
                        circles[i].querySelector('.bar').style['stroke-dashoffset'] = totalProgress * progress / 100;
                    }
                }
            }
        })();
    </script>
</head>

<body>
    <div id="parking_card">


        <% if(typeof(lotName) != "undefined") {%>
        <h1 id="lot_name">
            <center><%= lotName %></center>
        </h1>
        <center>
            <p id="lot_context"><%= lotContext %></p>
        </center>
        <center>
            <b>
                <p id="total_spots">~<%= totalSpaces %> Spots Available</p>
            </b>
        </center>
        <p id="is_historic">
            <% if(isHistoric ) {%>
            <center>
                <b>⚠ No Live Data. Estimated availability shown. </b>
            </center>
            <% } else { %>
            <b>&nbsp;</b>
            <% } %>
        </p>

        <% if(typeof(userSpotData) != "undefined") {%>
        <div class="row">
            <% Object.keys(userSpotData).forEach(key => { %>
            <%- include('partials/parkingComponent', {spotData: userSpotData[key], spotId: key}) %>
            <% }); %>
        </div>
        <%} else {%>
        <center>No Spot Types Provided</center>
        <%}%>
    <%}%>
    </div>
</body>

</html>